@import "tailwindcss";

@layer utilities {
  .bg-grid-pattern {
    background-image: radial-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

html {
  color-scheme: dark;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

@media print {
  @page {
    margin: 8mm 10mm 8mm 10mm;
    size: A4 portrait;
  }
}
